.list-wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: var(--background-secondary);
  border-radius: .75rem;
  padding: 0 .75rem;
  gap: .75rem;
}

.checkbox-img {
  background-size: contain;
  width: 1rem;
  height: 1rem;
  background-position: center;
  background-image: url(../assets/icons/checkbox.svg);
}




input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 1rem;
  height: 1rem;
  cursor: pointer;

  &:hover + .checkbox-img {
    background-image: url(../assets/icons/checkbox-hover.svg);
  }
  &:checked + .checkbox-img {
    background-image: url(../assets/icons/checkbox-checked.svg);
  }
}

.ph-trash {
  width: 100%;
  width: 10rem;
  height: 10rem;
}

ul {
  overflow: hidden;
  margin-top: 2.5rem;
  width: 100%;
  list-style-type: none;
}

li button {
  margin-left: auto;
}
button {
  overflow: hidden;
  width: 1.25rem;
  height: 1.25rem;
  border: none;
  background: none;
  cursor: pointer;
  &:hover {
      & svg path{
        stroke: var(--color-danger);
      }
    }
}


button svg {
  width: 1.25rem;
  height: 1.25rem;
  align-self: center;
  }

